$base-color: #004BA2;
$background-color: #1F8FE5;
$active-color:  #409fe9;

.buttonUpload {
    display: flex;
    height: 40px;
    width: 200px;
    padding: 0;
    background: $base-color;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    font-family: "Quicksand", sans-serif;
    font-size: 11px;
    font-weight: 500;
    cursor: pointer;
  }
  
  .buttonUpload:hover {
    background: $background-color;
  }
  
  .buttonUpload:active {
    background: $active-color
  }
  
  .button__text,
  .button__icon {
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    color: #fff;
    height: 100%;
  }
  
  .button__icon {
    font-size: 1.5em;
    background: rgba(0, 0, 0, 0.08);
  }
  