.title-succes{    
    margin-top: 1.5em;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    color: #272343;
}
.p-succes{
    margin-top: 2em;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.08em;
    color: #2D334A;
}
.success-position{
    margin-top: 1em;
}

.checked-animation{
    width:  80%;
    height: 80%;
}
.button-position{
    margin-top: 3.5em;
}