
  
  .btn-close-top{
      position: relative  ;
      background: none;
      color: cyan;
      border: none;
      bottom :  38px;
      right:  10px;
  }
  
.img-thumb {
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-left: 25px;
    width: 25%;
    //height: 40%;

  }